@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Padauk', sans-serif;
}

body {
    background-color: #222222;
}

.box {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 50%;
}

.info-title {
    font-size: 27px;
    color: orange;
}

.sec {
    font-size: 36px;
}

.info-description {
    color: #ffffff;
    margin: 43px 0 20px;
    font-size: 16px;
}

.info-location {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 20px;
}

.location-info {
    color: #ffffff;
    font-size: 13px;
}

.currentPlace {
    color: orange;
}

.map {
    cursor: pointer;
}

.map svg {
    stroke: #fff;
    stroke-opacity: 0.7;
}

.map svg path {
    fill: orange;
}

.map svg path.active {
    fill: #fff;
    transition: 0.7s;
}

